@font-face {
font-family: 'Impact Regular';
font-style: normal;
font-weight: normal;
src: local('Impact Regular'), url('../fonts/impact.woff') format('woff');
}


@font-face {
font-family: 'Impact Regular';
font-style: normal;
font-weight: normal;
src: local('Impact Regular'), url('../fonts/unicode.impact.woff') format('woff');
}


@font-face {
font-family: 'Impacted Regular';
font-style: normal;
font-weight: normal;
src: local('Impacted Regular'), url('../fonts/Impacted.woff') format('woff');
}